{{> logout-navbar}}

<section class="section">
  <div class="container">
    <h1 class="title is-2 has-text-weight-bold has-text-primary has-text-centered">
      🏙️ Add New Visited Place
    </h1>

    <div class="columns">
      <!-- Left Column: Form for Adding a New Place -->
      <div class="column is-half">
        <div class="box has-background-light p-5">
          <h2 class="title is-4 has-text-primary"> Place Details</h2>

          <!--  Form to Add a New Place -->
          <form action="/pois" method="POST">
            <div class="field">
              <label class="label">Place Name</label>
              <div class="control">
                <input class="input" type="text" name="name" placeholder="Enter place name" required>
                </strong> {{formatDate poi.visitDate}}</p>

              </div>
            </div>

            <div class="field">
              <label class="label">Date of Visit</label>
              <div class="control">
                <input type="date" name="visitDate" class="input" required>
              </div>
            </div>

            <div class="field">
              <label class="label">Latitude</label>
              <div class="control">
                <input class="input" type="number" step="any" name="latitude" placeholder="Enter Latitude" required>
              </div>
            </div>

            <div class="field">
              <label class="label">Longitude</label>
              <div class="control">
                <input class="input" type="number" step="any" name="longitude" placeholder="Enter Longitude" required>
              </div>
            </div>

            <input type="hidden" name="category" value="{{category}}">

            <button class="button is-primary is-fullwidth">
              Add Place
            </button>
          </form>
        </div>
      </div>

      <!--  Right Column: List of Added Places -->
      <div class="column is-half">
        <div class="box has-background-light p-5">
          <h2 class="title is-4 has-text-primary">📍 Visited Places</h2>

          {{#if pois.length}}
            <table class="table is-fullwidth">
              
              <tbody>
                {{#each pois}}
                  <tr>
                    <td> <strong>{{name}}</strong></td>
                    <td><stron>{{formatDate visitDate}}</stron></td>
                    <td class="has-text-right">
                      <a href="/added-places/{{_id}}" class="button is-warning is-rounded mr-2">
                        <span class="icon">
                          <i class="fas fa-folder-open"></i>
                        </span>
                      </a>

                      <form action="/pois/delete/{{_id}}" method="POST" style="display:inline;">
                        <button class="button is-warning is-rounded mr-2">
                          <span class="icon">
                            <i class="fas fa-trash"></i>
                          </span>
                        </button>
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <p class="has-text-grey-light">No places added yet.</p>
          {{/if}}
        </div>
      </div>
    </div>

   

{{> footer}}
