{{> logout-navbar}}

<section class="section">
  <div class="container">
    <h1 class="title is-2 has-text-weight-bold has-text-primary has-text-centered">
      📍 {{poi.name}}
    </h1>

    <!--  Row for Details (Category & Date) and Location -->
    <div class="columns">
      <!--  Left Column: Category, Visited Date & Upload Images -->
      <div class="column is-half">
        <div class="box has-background-light p-5">
          <h2 class="title is-4 has-text-primary">Details</h2>
          <p><strong>Category:</strong> {{poi.category}}</p>
          <p><strong>Visited on:</strong> {{formatDate poi.visitDate}}</p>

          <!--  Upload Image Form inside Details Box -->
          <hr>
          <h2 class="title is-5 has-text-primary">📤 Upload Memory Pictures</h2>
          <form action="/pois/{{poi._id}}/upload" method="POST" enctype="multipart/form-data">
            <div class="field">
              <div class="control">
                <input type="file" name="images" multiple class="input">
              </div>
            </div>
            <button type="submit" class="button is-primary is-fullwidth">Upload</button>
          </form>
        </div>
      </div>

      <!--  Right Column: Google Maps Embed -->
      <div class="column is-half">
        <div class="box has-background-light p-5">
          <h2 class="title is-4 has-text-primary">Location</h2>
          
          <iframe
            width="100%"
            height="200"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_MAPS_API_KEY}}&q={{poi.latitude}},{{poi.longitude}}"


            Allowfullscreen>
          </iframe>


          <!--  Open in Google Maps Button -->
          <p class="mt-3">
            <a href="https://www.google.com/maps/search/?api=1&query={{poi.latitude}},{{poi.longitude}}" 
               target="_blank" class="button is-info is-fullwidth">
              Open in Google Maps 🌍
            </a>
          </p>
        </div>
      </div>
    </div>

    <!--  Images Section (Photo Album) -->
<div class="box mt-5">
  <h2 class="title is-4 has-text-primary">📸 Photo Album</h2>

  {{#if poi.imageUrls.length}}
    <div class="columns is-multiline">
      {{#each poi.imageUrls}}
        <div class="column is-one-quarter">
          <figure class="image is-4by3">
            <img src="{{this}}" alt="Image" style="max-width: 150px; max-height: 150px;">

          </figure>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="has-text-grey-light">No images uploaded yet.</p>
  {{/if}}
</div>


    <!--  Back to List Button -->
    <div class="has-text-centered mt-5">
      <a href="/pois/add" class="button is-link">⬅ Back to List</a>
    </div>
  </div>
</section>

{{> footer}}
